<div class="gallery-container">
  <div class="container-custom" *ngIf="hasImages(); else noGalleryTemplate">
    <div
      *ngFor="let item of getGalleryImages(); let i = index; trackBy: trackByGalleryId"
      class="gallery-card"
      [class.is-image-missing]="!getImageUrl(item)"
      [ngClass]="'img-' + (i + 1)"
    >
      <img
        *ngIf="getImageUrl(item)"
        [src]="getImageUrl(item)"
        [alt]="getImageAlt(item, i)"
        loading="lazy"
        (error)="onImageError($event)"
      />
      <div class="image-placeholder">
        <i class="fas fa-image" aria-hidden="true"></i>
        <span>Foto belum tersedia</span>
      </div>
    </div>
  </div>

  <ng-template #noGalleryTemplate>
    <div class="container-custom">
      <img
        src="assets/default-gallery.jpg"
        alt="Default gallery image 1"
        class="img-1"
        loading="lazy"
      />
      <img
        src="assets/default-gallery.jpg"
        alt="Default gallery image 2"
        class="img-2"
        loading="lazy"
      />
      <img
        src="assets/default-gallery.jpg"
        alt="Default gallery image 3"
        class="img-3"
        loading="lazy"
      />
      <img
        src="assets/default-gallery.jpg"
        alt="Default gallery image 4"
        class="img-4"
        loading="lazy"
      />
    </div>
  </ng-template>
</div>
