<ng-container [ngSwitch]="activeThemeRenderKey">
  <wc-ruby-theme-one
    *ngSwitchCase="'ruby-theme-one'"
    [weddingData]="previewData"
    [invitationOpened]="true">
  </wc-ruby-theme-one>
  <wc-ruby-theme-two
    *ngSwitchCase="'ruby-theme-two'"
    [weddingData]="previewData"
    [invitationOpened]="true">
  </wc-ruby-theme-two>
  <wc-sapphire-theme-one
    *ngSwitchCase="'sapphire-theme-one'"
    [weddingData]="previewData"
    [invitationOpened]="true">
  </wc-sapphire-theme-one>
  <wc-diamond-theme-one
    *ngSwitchCase="'diamond-theme-one'"
    [weddingData]="previewData"
    [invitationOpened]="true">
  </wc-diamond-theme-one>
  <wc-diamond-theme-two
    *ngSwitchCase="'diamond-theme-two'"
    [weddingData]="previewData"
    [invitationOpened]="true">
  </wc-diamond-theme-two>
  <wc-lavender-bloom-theme
    *ngSwitchCase="'lavender-bloom'"
    [weddingData]="previewData"
    [invitationOpened]="true">
  </wc-lavender-bloom-theme>
  <wc-ruby-theme-two
    *ngSwitchDefault
    [weddingData]="previewData"
    [invitationOpened]="true">
  </wc-ruby-theme-two>
</ng-container>
