<div class="theme-preview-state" *ngIf="isLoadingPreview">
  <div class="theme-preview-state__panel">
    <span class="theme-preview-state__spinner" aria-hidden="true"></span>
    <p>Menyiapkan preview tema...</p>
  </div>
</div>

<div class="theme-preview-state theme-preview-state--error" *ngIf="!isLoadingPreview && previewError">
  <div class="theme-preview-state__panel">
    <h1>Preview tema tidak tersedia</h1>
    <p>{{ previewError }}</p>
  </div>
</div>

<ng-container *ngIf="!isLoadingPreview && !previewError" [ngSwitch]="activeThemeRenderKey">
  <wc-ruby-theme-one
    *ngSwitchCase="'ruby-theme-one'"
    [weddingData]="previewData"
    (openInvitationRequested)="openInvitation()">
  </wc-ruby-theme-one>
  <wc-ruby-theme-two
    *ngSwitchCase="'ruby-theme-two'"
    [weddingData]="previewData"
    (openInvitationRequested)="openInvitation()">
  </wc-ruby-theme-two>
  <wc-sapphire-theme-one
    *ngSwitchCase="'sapphire-theme-one'"
    [weddingData]="previewData"
    (openInvitationRequested)="openInvitation()">
  </wc-sapphire-theme-one>
  <wc-diamond-theme-one
    *ngSwitchCase="'diamond-theme-one'"
    [weddingData]="previewData"
    (openInvitationRequested)="openInvitation()">
  </wc-diamond-theme-one>
  <wc-diamond-theme-two
    *ngSwitchCase="'diamond-theme-two'"
    [weddingData]="previewData"
    (openInvitationRequested)="openInvitation()">
  </wc-diamond-theme-two>
  <wc-lavender-bloom-theme
    *ngSwitchCase="'lavender-bloom'"
    [weddingData]="previewData"
    (openInvitationRequested)="openInvitation()">
  </wc-lavender-bloom-theme>
  <wc-ruby-theme-two
    *ngSwitchDefault
    [weddingData]="previewData"
    (openInvitationRequested)="openInvitation()">
  </wc-ruby-theme-two>
</ng-container>
