<section id="beranda">
  <wc-hero-section></wc-hero-section>
</section>

<section id="fitur">
  <wc-features></wc-features>
</section>

<section id="tema">
  <wc-community></wc-community>
</section>

<section id="testimoni">
  <wc-testemonial-footer></wc-testemonial-footer>
</section>

<section id="harga">
  <wc-testimonials></wc-testimonials>
</section>

<!-- <section id="develope">
    <wc-developers></wc-developers>
  </section> -->

<section id="kontak">
  <wc-footer></wc-footer>
</section>
